.git
.github
.idea
.pytest_cache
.ruff_cache
.cache
__pycache__
*.py[cod]
*.pyo
*.log
coverage.xml
.coverage
htmlcov
node_modules
frontend/node_modules
frontend/dist
dist
buildx-cache
RESULT_LOG*.json
RESULT_LOG*.json.gz
