colorlog
requests==2.32.4
kubernetes==20.11.0a1
python-multipart==0.0.20
anyio>=3.7.1,<4
typing_extensions>=4.8,<5
fastapi==0.124.4
starlette==0.44.0
uvicorn==0.33.0
gunicorn==23.0.0
joblib==1.4.2
imagehash
pillow==10.4.0
func_timeout
